<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecipeRecommendation"
        tools:targetApi="31">
        <activity
            android:name=".NavDrawer"
            android:exported="false"
            android:label="@string/title_activity_nav_drawer"
            android:theme="@style/Theme.RecipeRecommendation.NoActionBar" />
        <activity android:name=".Management.Login"/>
        <activity

            android:name=".Management.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UploadRecipie.UploadPictureOne"/>
        <activity android:name=".Rating.RatingBarActivity"/>
        <activity android:name=".Result.MealPlanActivity"/>
        <activity android:name=".ViewMeal.RecipeFeedActivity"/>
        <activity android:name=".Result.WeeklyMealDetailActivity"/>
        <activity android:name=".MealPlanningModule.MealActivity" />
        <activity android:name=".FullTrack.FullMealDetailActivity"/>
        <activity android:name=".MealPlanningModule.MealDetailActivity"/>
        <activity android:name=".MealPlanningModule.GenerateIngrediants"/>
        <activity android:name=".ViewMeal.MealCombineActivity"/>
        <activity android:name=".BMI.BmiCalorieActivity"/>
        <activity android:name=".SettingsActivity"/>
        <activity android:name=".Management.Signup" />
        <activity android:name=".Management.ForgotPassword" />
        <activity android:name=".UpdateProfile" />
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Api.MainActivity1" />
        <activity android:name=".CommunityDetail"/>
        <activity android:name=".Api.Details" />
    </application>
</manifest>